

#home .nav-home,
#admin .nav-admin
{
    color: #ffffff;
    background-color: #28415b;
}

.list {
  list-style-type: none;
  display: table;
}

.list li {
  display: table-row;
}

.list li span {
  display: table-cell;
  padding: 3px;
}

.trigger {
  cursor: pointer;
}

.log-header {
  margin-top: 2em;
}

#log {
  background-color: black;
  padding: 10px;
}