extends ./layout/default.pug

block vars
  - var bodyAttributes = {  id : 'admin'}


block content

  ul
    li 
      span unstable_restarts: #{unstable_restarts}
    li 
      span restart_time: #{restart_time}
    li 
      span pm_uptime: #{pm_uptime}
    li 
      span status: #{status}

  p Log output
  #log