extends ./layout/default.pug

block vars
  - var bodyAttributes = {  id : 'home'}


block content
  p Find and update triggers here

  .well
    form.form-horizontal
      fieldset
        .form-group
          label enter name of trigger you would like to update
          input.form-control#code(type="text", name="trigger")
        
        .form-group
          button#submit_find.btn.btn-primary search

  pre(style="display:none")
    code#find_results


  #update_section.well(style="display:none")
    form.form-horizontal
      input#triggerObj(type="hidden", name="triggerObj", value="")

      fieldset
        .form-group
          label update trigger
          textarea#triggerText.form-control(type="text", name="triggerText")
          .help-text.
            <code>%me%</code> - when you want the trigger to include the username of the person who triggered it<br>
            <code>%dj%</code> - when you want the trigger to include the current DJ's username
            <br><a href="/commands" target="_blank">more info</a>
        .form-group
          button#submit_up.btn.btn-warning update

  p#update_result

  #trigger-list
    .form-group
      label fuzzy search trigger
      input.form-control(type="text", class="fuzzy-search")
    ul.list.
      !{allTrigs}
    ul.pagination