extends ./layout/default.pug

block content
  p Find and update triggers here

  .well
    form.form-horizontal
      fieldset
        .form-group
          label find trigger
          input.form-control#code(type="text", name="trigger")
        
        .form-group
          button#submit_find.btn.btn-primary search

  pre(style="display:none")
    code#find_results


  #update_section.well(style="display:none")
    form.form-horizontal
      input#triggerObj(type="hidden", name="triggerObj", value="")

      fieldset
        .form-group
          label update trigger
          textarea#triggerText.form-control(type="text", name="triggerText")
          .help-text.
            <code>%me%</code> - when you want the trigger to include the username of the person who triggered it<br>
            <code>%dj%</code> - when you want the trigger to include the current DJ's username

        .form-group
          button#submit_up.btn.btn-warning update

  p#update_result