doctype html
html(class="no-js", lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title chatbot admin
    meta(name="viewport", content="width=device-width, initial-scale=1")

  body
    .container
    
      main
        block content

    script(src="/js/jquery-3.1.1.min.js")
    script(src="/js/main.js")